*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
/* Navbar Start */
#navbar{
    background: #f2f5f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: rgb(245, 220, 96);
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #70d4d7;
}
.navbar-toggler span{
    color: #70d4d7;;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #70d4d7;
    color: white;
}
#navbar form button{
    background: #70d4d7;
    color: white;
    border: none;
}
/* Navbar End */
.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}
.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}
.custom-btn-bg{
    background: rgb(12, 41, 73);
    border: none;
    font-size: 16px;  
}
.custom-btn-bg:hover{
    background-color: #70d4d7;
}
.upper-slider{
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

/* destination */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
  }

/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 20px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}

@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */
/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: rgb(245, 220, 96);
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
    text-decoration: none;
}
#logo span{
    color: #70d4d7;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #70d4d7;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background:#70d4d7 ;
}
.custom-alert{
    position: fixed;
    top: 25px;
    right: 25px;
}
/* Footer End */
#dashboard-menu{
    position: fixed;
    height: 100%;
}

@media screen and (max-width: 991px){
    #dashboard-menu{
        height: auto;
        width: 100%;
        z-index: ll;
    }
    #main-content{
       margin-top: 60px; 
    }
}